.game {
  border: 1px solid black;
  padding: @game-padding;
}

.board {
  margin: @game-padding auto;
  position: relative;
  background: @bg-board;
  width: @board-w;
  height: @board-w;
  border: @board-border solid @color-cell-border;
  border-radius: 14px;
}

.cell {
  position: absolute;
  width: @cell-w - 2px;
  height: @cell-w - 2px;
  border: 1px solid @color-cell-border;
  background: @bg-board;
  border-radius: 10px;
  &.survived {
    background: #BAFF93;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    background: @bg-cell-highlighted;
  }
  &.permitted {
    cursor: pointer;
  }
  &.virus-X {
    &.alive {
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        background: @color-x;
        top: 20px;
        left: 0;
        width: 50px;
        height: 10px;
        border-radius: 5px;
      }
    }
    &.dead {
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        border: 10px solid @color-x-zombie;
        border-radius: 20px;
        width: 20px;
        height: 10px;
        top: 10px;
        left: 5px;
      }
      &.zombie {
        &:before, &:after {
          background: @color-x;
        }
      }
    }
  }
  &.virus-O {
    &.alive {
      &:before {
        content: '';
        display: block;
        position: absolute;
        border: 10px solid @color-o;
        border-radius: 20px;
        width: 20px;
        height: 20px;
        top: 5px;
        left: 5px;
      }
    }
    &.dead {
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        background: @color-o-zombie;
        top: 15px;
        left: 5px;
        width: 40px;
        height: 20px;
        border-radius: 10px;
      }
      &.zombie {
        &:before, &:after {
          border: 6px solid @color-o;
          width: 28px;
          height: 8px;
        }
      }
    }
  }
}

.species-X {
  .cell {
    &.permitted {
      box-shadow: 0 0 4px 1px @color-x inset;
      &:hover {
        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          background: @color-x;
          top: 23px;
          left: 15px;
          width: 20px;
          height: 5px;
          border-radius: 3px;
          opacity: .5;
          border: none;
        }
      }
    }
  }
}

.species-O {
  .cell {
    &.permitted {
      box-shadow: 0 0 4px 1px @color-o inset;
      &:hover {
        &:before {
          content: '';
          display: block;
          position: absolute;
          border: 5px solid @color-o;
          border-radius: 10px;
          width: 10px;
          height: 10px;
          top: 15px;
          left: 15px;
          opacity: .8;
          background: transparent;
        }
        &:after {
          display: none;
        }
      }
    }

  }
}