.game {
  padding: @game-padding;
}

.board {
  margin: @game-padding auto;
  position: relative;
  background: @bg-board;
  width: @board-w;
  height: @board-w;
  border: @board-border solid @color-cell-border;
  border-radius: @board-border + 0.8em;
}

.cell {
  position: absolute;
  width: @cell-w;
  height: @cell-w;
  //border: .1em solid @color-cell-border;
  box-shadow: 0 0 0.4em 0.1em @color-cell-border inset;
  background: @bg-board;
  border-radius: 1em;
  &.survived {
    background: #BAFF93;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    background: @bg-cell-highlighted;
  }
  &.permitted {
    cursor: pointer;
  }
  &.virus-X {
    &.alive {
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        background: @color-x;
        top: 2em;
        left: 0;
        width: 5em;
        height: 1em;
        border-radius: 0.5em;
      }
    }
    &.dead {
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        border: 1em solid @color-x-zombie;
        border-radius: 2em;
        width: 2em;
        height: 1em;
        top: 1em;
        left: .5em;
      }
      &.zombie {
        &:before, &:after {
          background: @color-x;
        }
      }
    }
  }
  &.virus-O {
    &.alive {
      &:before {
        content: '';
        display: block;
        position: absolute;
        border: 1em solid @color-o;
        border-radius: 2em;
        width: 2em;
        height: 2em;
        top: .5em;
        left: .5em;
      }
    }
    &.dead {
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        background: @color-o-zombie;
        top: 1.5em;
        left: .5em;
        width: 4em;
        height: 2em;
        border-radius: 1em;
      }
      &.zombie {
        &:before, &:after {
          border: .6em solid @color-o;
          width: 2.8em;
          height: .8em;
        }
      }
    }
  }
}

.species-X {
  .cell {
    &.permitted {
      box-shadow: 0 0 .4em .1em @color-x inset;
      &.empty:hover {
        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          background: @color-x;
          top: 2.3em;
          left: 1.5em;
          width: 2em;
          height: .5em;
          border-radius: .3em;
          opacity: .5;
          border: none;
        }
      }
    }
  }
}

.species-O {
  .cell {
    &.permitted {
      box-shadow: 0 0 .4em .1em @color-o inset;
      &.empty:hover {
        &:before {
          content: '';
          display: block;
          position: absolute;
          border: .5em solid @color-o;
          border-radius: 1em;
          width: 1em;
          height: 1em;
          top: 1.5em;
          left: 1.5em;
          opacity: .8;
          background: transparent;
        }
        &:after {
          display: none;
        }
      }
    }

  }
}

.info {
  font-size: 4em;
}

.buttons {
  input[type=button] {
    font-size: 2em;
    padding:0.5em 1em;
    margin:0.5em;
    border-radius: 0.5em;
    border: 0.1em solid gray;
  }
}
