@bg-body: #ccc;
@bg-board: green;
@bg-cell-highlighted: darkgreen;

@color-cell-border: darkgreen;
@color-x: yellow;
@color-x-zombie: orange;
@color-o: cyan;
@color-o-zombie: blue;

@game-padding: 10px;
@cell-w: 50px;
@cells: 10;
@board-w: @cell-w * @cells;
@board-border: 4px;