@bg-body: #ccc;
@bg-board: #8b6;
@bg-cell-highlighted: #84b861;

@color-cell-border: #76b04f;
@color-x: #FC0;
@color-x-zombie: #960;
@color-o: #33A;
@color-o-zombie: #226;

@game-padding: 10px;
@cell-w: 50px;
@cells: 10;
@board-w: @cell-w * @cells;
@board-border: 4px;

//["#ddc651",
//"#cc59de",
//"#e44524",
//"#0172d1",
//"#a11151"]
